.low-stock_productItem {
    border-radius: 10px;
    width: 100%;
    padding: 10px 0;
    background: #ffffff;
    color: #000;
    font-size: 14px;
    
    .low-stock_productAmount {
        color: #844949; 
    }
}