
.product-lookup {
    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .search-button {
            width: 80px;
            padding: 11px;
            border-radius: 5px;
            border: none;
            margin-left: 10px;
            background: #f2f2f2;
        }
    }

    .ingredients-results {
        height: 420px;
        border: 1px solid lightgrey;
        border-radius: 7px;
        margin: 22px;
    }
}